<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
<div>
    <h1>Login</h1>
</div>

    <div>
        <h3 bgcolor='red'>
            {{message}}
        </h3>
    </div>
    <form action="login" method="post">
        {%csrf_token%}
        <input name="username" placeholder="UserName" type="text"><br>
        <input name="password" placeholder="Password" type="password"><br>
        <input name="Login" type="submit">
    </form>
    <div bgcolor='red'>
        {% for message in messages%}
        <h1>{{message}}</div>
        {% endfor%}
    </div>

</body>
</html>