<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>
    <form action="register" method="post"> 
        {% csrf_token %}
        <input name="firstname" type="text" placeholder="First Name"><br>
        <input name="lastname" type="text" placeholder="Last Name"><br>

        <input name="username" type="text" placeholder="Username"><br>
        <input name="email" type="email" placeholder="Email"><br>

        <input name="password1" type="password" placeholder="Password"><br>
        <input name="confirmPassword" type="password" placeholder="Confirm Password"><br>
        <input type="submit">

    </form>
    <div>
        {% for message in messages%}
        <h1>{{message}}</div>
        {% endfor%}
    </div>
</body>
</html>